@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900');

/* Mobile */
body{
    margin: 0;
}
.container-getStarted{
    margin: 0;
    background: white;
    min-height: 100vh;
    background-image: url('../images/getStarted-bg.svg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom;
    text-align: center;
}

.my-illustration {
    width: 40%;
    display: inline-block;
    margin-top: 10vh;
    z-index: 2;
    position: relative;
}
.getStarted-center-title {
    font-size: 3em;
    color: #3d3d3d;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    margin: 10px 0px 0px;
}
.getStarted-center-subtitle {
    font-size: 1.4em;
    background: -webkit-linear-gradient(right,#0098F3,#6650E0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    margin: 0px;
}
.getStarted-clickhere {
    margin: 10vh 0px 0px;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 0.7em;

}
.gradient-text {
    background: -webkit-linear-gradient(right,#0098F3,#6650E0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
}
.gradient-button {
    background: -webkit-linear-gradient(180deg,#0098F3,#6650E0);
}
.getStarted-continue-button  {
    padding: 15px;
    margin: 20px 10px 10px;
    border-radius: 100px;
    width: 80%;
    color: #fff;
    font-size: 20px;
    border: none;
    box-shadow: 0px 3px 10px rgba(0, 152, 243, 0.26)

}
.getStarted-continue-button:focus,.getStarted-continue-button:active {
    outline: none;
    border: none;
}
a{
    text-decoration: none;
}
.gradient-button:hover {
    background: -webkit-linear-gradient(270deg,#0098F3,#6650E0);
    box-shadow: 0px 3px 10px rgba(0, 152, 243, 0.46);
    cursor: pointer;
}


/*animation css*/

.minimal-cloud {
    position: absolute;
    margin-top: 70px;
    z-index: 1;
    overflow: hidden;
    width: 100%;
}
.minimal-cloud-2 {
    position: absolute;
    margin-top: 10px;
    z-index: 1;
    overflow: hidden;
    padding-left: 80%;
    width: 100%;
}
.cloud-minimal-1 {
    background-image: url('../images/minimal-lines.svg');
    background-repeat: no-repeat;
    opacity: 1;
    width: 180px;
    height: 18px;
    position: relative;
    animation: cloud-minimal-1  3s linear infinite;
    -webkit-animation: cloud-minimal-1  3s linear infinite;
    -moz-animation: cloud-minimal-1  3s linear infinite;
}
.cloud-minimal-2 {
    background-image: url('../images/minimal-lines.svg');
    background-repeat: no-repeat;
    opacity: 1;
    margin-left: 20%;
    margin-top: 40px;
    width: 180px;
    height: 15px;
    position: relative;
    animation-delay: 1s;
    animation: cloud-minimal-1  3s linear infinite;
    -webkit-animation: cloud-minimal-1  3s linear infinite;
    -moz-animation: cloud-minimal-1  3s linear infinite;
}
.cloud-minimal-3 {
    background-image: url('../images/minimal-lines.svg');
    background-repeat: no-repeat;
    opacity: 1;
    margin-left: 10%;
    margin-top: 30px;
    width: 180px;
    height: 15px;
    position: relative;
    animation: cloud-minimal-1  3s linear infinite;
    -webkit-animation: cloud-minimal-1  3s linear infinite;
    -moz-animation: cloud-minimal-1  3s linear infinite;
}
.cloud-minimal-4 {
    background-image: url('../images/minimal-lines.svg');
    background-repeat: no-repeat;
    opacity: 1;
    margin-left: 25%;
    margin-top: 50px;
    width: 180px;
    height: 15px;
    position: relative;
    animation-delay: 2s;
    animation: cloud-minimal-1  3s linear infinite;
    -webkit-animation: cloud-minimal-1  3s linear infinite;
    -moz-animation: cloud-minimal-1  3s linear infinite;
}

.cloud-minimal-5 {
    background-image: url('../images/minimal-lines.svg');
    background-repeat: no-repeat;
    opacity: 1;
    margin-top: 50px;
    margin-left: 45%;
    width: 180px;
    height: 15px;
    position: relative;
    animation-delay: 2s;
    animation: cloud-minimal-2  3s linear infinite;
    -webkit-animation: cloud-minimal-2  3s linear infinite;
    -moz-animation: cloud-minimal-2  3s linear infinite;
}
.cloud-minimal-6 {
    background-image: url('../images/minimal-lines.svg');
    background-repeat: no-repeat;
    opacity: 1;
    margin-top: 50px;
    margin-left: 60%;
    width: 180px;
    height: 15px;
    position: relative;
    animation-delay: 2s;
    animation: cloud-minimal-2  3s linear infinite;
    -webkit-animation: cloud-minimal-2  3s linear infinite;
    -moz-animation: cloud-minimal-2  3s linear infinite;
}
.cloud-minimal-7 {
    background-image: url('../images/minimal-lines.svg');
    background-repeat: no-repeat;
    opacity: 1;

    margin-top: 50px;
    margin-left: 33%;
    width: 180px;
    height: 15px;
    position: relative;
    animation-delay: 2s;
    animation: cloud-minimal-2  3s linear infinite;
    -webkit-animation: cloud-minimal-2  3s linear infinite;
    -moz-animation: cloud-minimal-2  3s linear infinite;
}
/*.cloud-minimal-8 {*/
    /*background-image: url('../images/minimal-lines.svg');*/
    /*background-repeat: no-repeat;*/
    /*opacity: 1;*/
    /*margin-left: 55%;*/
    /*margin-top: 50px;*/
    /*width: 180px;*/
    /*height: 20px;*/
    /*position: relative;*/
    /*animation-delay: 2s;*/
    /*animation: cloud-minimal-2  3s linear infinite;*/
    /*-webkit-animation: cloud-minimal-2  3s linear infinite;*/
    /*-moz-animation: cloud-minimal-2  3s linear infinite;*/
/*}*/


@-webkit-keyframes cloud-minimal-1 {
    0% {
        left: 10%;
        opacity: 0;
    }
    15% {
        left: 20%;
        opacity: 1;
    }
    50% {
        left: 80%;
        opacity: 0.4;
    }
    85% {
        opacity: 20;
        opacity: 1;
    }
    100% {
        left: 10%;
        opacity: 0;
    }
}

@-webkit-keyframes cloud-minimal-2 {
    0% {
        right: 10%;
        opacity: 0;
    }
    15% {
        right: 20%;
        opacity: 1;
    }
    50% {
        right: 80%;
        opacity: 0.0;
    }
    85% {
        opacity: 1;
    }
    100% {
        right: 10%;
        opacity: 0;
    }
}
